@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(140, 0, 162, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(22, 22, 22, 1) 0%, rgba(22, 22, 22, 1) 100%);
    overflow: hidden;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}